.buttonCustom {
  width: 120px;
  height: 40px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 4px;
  margin-right: 4px;
  color: #802a2c;
}